footer .logo {
  background-image: url(../images/Nebo_Logo_Color.jpg);
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: contain;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
  margin: 0 0px;
}